
<h1>User Book Index</h1>
<div class="user-books-container">
  <%= link_to "Add Book", new_book_path, class: "btn btn-primary" %>
  <br><br>

  <% @books.each do |book| %>
    <div class="book-item">
      <div>
        <%= link_to book.title, book_path(book), class: "book-title" %>
      </div>

      <div class="book-actions">
        <%= link_to "Edit", edit_book_path(book), class: "btn btn-edit" %>

        <%= link_to "Delete", delete_book_path(book), data: { confirm: "Are you sure?" }, class: "btn delete" %>
      </div>
    </div>
  <% end %>
</div>
