<!DOCTYPE html>
<html>
    <head>
        <meta content = "text/html; charset=UTF-8" http-equiv="Content-Type"/>
    </head>
     <body>
        <h1>Sign up successful</h1>
        <p>Your email id is <%=@account.email%></p>
        <p>Thanks for joinint and have a great day!</p>
    </body>
</html>